# 환경 변수 파일 무시
.env
/application-DB-KEY.properties
/src/main/resources/application-DB-KEY.properties

# Gradle 관련 파일 무시
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite (STS) 관련 파일 무시
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# 이진 파일(bin) 디렉터리 무시
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA 관련 파일 무시
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans 관련 파일 무시
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code 관련 파일 무시
.vscode/
